<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>상품목록</title>

<th:block th:replace="~{fragments/header_link :: header_link}"/>
  
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <th:block th:replace="~{fragments/navbar :: navbar}"/>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <th:block th:replace="~{fragments/brand_logo :: brand_logo}"/>

    <!-- Sidebar -->
    <th:block th:replace="~{fragments/sidebar :: sidebar}"/>
    <!-- Sidebar End -->
    
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">주문목록</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#"></a></li>
              <li class="breadcrumb-item active"></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- main contents -->
    <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
					<div class="col-12">
					    <div class="card">
					        <div class="card-body">
					            <table class="table table-bordered table-hover">
					                <thead>
					                    <tr>
					                        <th>주문번호</th>
					                        <th>주문시간</th>
					                        <th>금액</th>
					                        <th>상태</th>
					                    </tr>
					                </thead>
									<tbody>
									    <tr th:each="order : ${orderList}" data-widget="expandable-table" aria-expanded="false">
									        <td th:text="${order.ordersummary_idx}"></td>
									        <td th:text="${order.orderdate}"></td>
									        <td th:text="${order.total_pay}"></td>
									        <td th:text="${order.orderstat.orderstat_name}"></td>
									    </tr>
									    <tr class="expandable-body d-none" th:each="order : ${orderList}">
										    <td colspan="5">
										        <p style="height: 144px; padding-top: 12px; margin-top: 0px; padding-bottom: 12px; margin-bottom: 16px; display: none;">
										            <table id="product_table" class="table table-hover text-nowrap">
										                <thead>
										                    <tr>
										                        <th>주문번호</th>
										                        <th>제품명</th>
										                        <th>수량</th>
										                    </tr>
										                </thead>
										                <tbody>
							                                <tr th:each="detail : ${order.orderDetailList}">
							                                    <td th:text="${detail.orderdetail_idx}"></td>
							                                    <td th:text="${detail.product_name}"></td>
							                                    <td th:text="${detail.ea}"></td>
							                                </tr>
										                </tbody>
										            </table>
										    </td>
										</tr>

									</tbody>

					            </table>
					        </div>
					    </div>
					</div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->        

    </div>
    <!-- /.container-fluid -->
</section>
    <!-- /main contents -->

    
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<th:block th:replace="~{fragments/footer_link :: footer_link}"/>

</body>
</html>
