<th:block th:fragment="sidebar">

<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				
			</div>
			<div class="info">
				<a  class="d-block">관리자</a>
			</div>
		</div>

		

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
				
				<!-- 상품관리 메뉴 -->               
				<li class="nav-item menu-open">
					<a href="#"class="nav-link"> 
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							상품관리 <i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/product/list" class="nav-link"> 
								<i class="far fa-circle nav-icon"></i>
								<p>상품목록</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/admin/product/registform" class="nav-link"> 
								<i class="far fa-circle nav-icon"></i>
								<p>상품등록</p>
							</a>
						</li>
					</ul>
				</li>
			
			
				<!-- 주문관리 메뉴 -->               
				<li class="nav-item menu-open">
					<a href="#"class="nav-link"> 
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							주문관리 <i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="./index.html" class="nav-link"> 
								<i class="far fa-circle nav-icon"></i>
								<p>주문목록</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="./index.html" class="nav-link"> 
								<i class="far fa-circle nav-icon"></i>
								<p>주문등록</p>
							</a>
						</li>
					</ul>
				</li>
			
			
			</ul>
		</nav>
	</div>
		<!-- /.sidebar-menu -->
		
</th:block>